@media only screen and (max-width: 545px) {
  .header__bottom {
    border-top: 2px solid #cacaca;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    color: #000;
    background-color: var(--color-light);
  }

  /* burger */
  /* .header__bottom-nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    padding: 5px 15px;
    margin-left: 0;
    background-image: linear-gradient(1deg, #1f86c5, #1f86c5);
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-120%);
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  } */
  /* .header__bottom-nav .header__bottom-list {
    flex-direction: column;
  } */
  .header__bottom-nav .header__bottom-item:not(:last-child) {
    margin-right: 0;
  }

  .header__bottom-nav .header__bottom-link {
    font-size: 18px;
  }
  /* .header__bottom-list {
    position: absolute;
    top: 127px;
    align-items: baseline;
  } */
  .header__nav--active {
    visibility: visible;
    transform: none;
  }

  .header__bottom-nav .header__bottom-link {
    font-size: 12px;
  }

  .stop-scroll {
    overflow: hidden;
  }

  .slide-content--text {
    margin-left: 15px;
  }
  .header__bottom-search {
    display: none;
  }
  .logo {
    display: block;
    width: 60%;
  }
  .hero__container {
    flex-direction: column;
  }
  .swiper__container {
    max-width: 100%;
  }
  .hero__swiper {
    max-height: 189px;
    margin-bottom: 20px;
  }

  .hero__block {
    width: 100%;
    flex-direction: row;
  }
  .hero__block-link img {
    width: 100%;
    height: 120px;
  }
  .slide-link--one {
    bottom: 62px;
    right: 37px;
    padding: 4px;
    width: 43px;
    font-size: 4px;
  }
  .slide-link--two {
    bottom: 16px;
    right: 22px;
    padding: 7px;
    width: 77px;
    border-radius: 4px;
    font-size: 7px;
  }
  .offer__title {
    margin-bottom: 20px;
  }
  .special__offer-list {
  }
  .special__offer-item {
    width: 120px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .ofertas__title {
    font-size: 25px;
  }
  .offer__img {
    padding: 20px;
    width: 80px;
    height: 85px;
    margin-bottom: 10px;
    border: 1px solid #cacaca;
    border-radius: 26px;
  }
  .offer__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .offer__content {
    display: flex;
    flex-direction: column;
  }
  .offer__name {
    margin-bottom: 5px;
  }
  .offer__descr {
    margin-bottom: 10px;
    color: #5b5b5b;
    font-size: 7px;
  }
  .offer__price-box {
    text-align: end;
  }
  .offer__price-old {
    color: #5b5b5b;
    font-size: 13px;
    text-decoration: line-through;
  }

  .offer__price-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .offer__price {
    font-size: 16px;
  }
  .offer__btn {
    position: relative;
    padding: 10px 10px;
    color: #5b5b5b;
    background-color: #bae8f7;
    text-align: left;
    font-size: 8px;
    font-weight: 700;
    border-radius: 10px;
  }
  .offer__btn::after {
    position: absolute;
    content: "";
    top: 8px;
    right: 8px;
    width: 20px;
    height: 20px;
    background-image: url(/image/b.svg);
    background-repeat: no-repeat;
    background-size: 15px 15px;
  }
  .ofertas__list-item {
    width: 150px;
  }
  .ofertas__list-item:not(:nth-child(4n)) {
    margin-right: 10px;
  }
  .ofertas__list-item:not(:nth-child(2n)) {
    margin-right: 20px;
  }
  .ofertas__descr--urolesin {
    top: 10px;
    left: 10px;
    width: 40%;
    font-size: 5px;
    line-height: 6px;
  }
  .ofertas__descr--blackmaca {
    top: 4px;
    left: 6px;
    width: 38%;
    line-height: 8px;
    font-size: 7px;
  }
  .ofertas__descr--zenza {
    top: 0;
    left: 6px;
    width: 35%;
    line-height: 8px;
    font-size: 7px;
  }
  .ofertas__descr--cardioxil {
    top: 0;
    left: 7px;
    width: 42%;
    font-size: 7px;
    line-height: 8px;
  }
  .ofertas__descr--difoflex {
    top: 8px;
    left: 11px;
    width: 55%;
    font-size: 8px;
    line-height: 10px;
  }
  .ofertas__descr--ultraven {
    top: 8px;
    width: 40%;
    font-size: 8px;
    line-height: 10px;
  }
  .ofertas__descr--movi {
    top: 0px;
    left: 6px;
    width: 60%;
    font-size: 6px;
    line-height: 7px;
  }
  .ofertas__descr--head {
    top: 9px;
    left: 5px;
    width: 45%;
    font-size: 7px;
    line-height: 10px;
  }
  .delivery__image {
    background-color: var(--color-light);
    padding-bottom: 50px;
  }
  .footer__contaier {
    flex-wrap: wrap;
  }
  .footer__logo {
    width: 60%;
  }
  .footer__left {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    align-items: center;
  }
  .footer__address-place {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__address span {
    font-size: 17px;
  }
  .footer__address-tel {
    align-items: center;
  }
  .footer__address-tel a {
    font-size: 15px;
  }
  .footer__title {
    margin-bottom: 20px;
    text-align: center;
  }
  .footer__nav {
    margin-bottom: 30px;
    flex-direction: row;
  }
  .footer__nav-list {
    margin-right: 10px;
  }
  .footer__nav-link {
    font-size: 11px;
    text-transform: uppercase;
  }
  .footer__help {
    display: none;
  }
  .footer__company {
    display: none;
  }

  .footer__image {
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .footer__image img {
    width: 220px;
  }
  /* products */
  .products__title {
    text-align: center;
    font-size: 25px;
  }
  .products__list {
    justify-content: space-around;
  }
  .products__list-item {
    width: 160px;
    max-height: 200px;
    margin-right: 0;
  }
  .products__link {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    object-fit: cover;
  }
  .products__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom: 0;
  }
  .products__descr {
    font-size: 8px;
    line-height: 15px;
  }
}
